<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>找不到页面</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/resource/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/resource/css/404.css" />
</head>
<body>
    <div class="main">
        <span class="title"><i class="fa fa-times-circle fa-lg"></i> 404</span><br />
        <span class="content">Sorry!! We can not find the page!!</span><br />
        <span class="link"><a href="/"><i class="fa fa-arrow-circle-left"></i> 返回首页</a></span>
    </div>
</body>
</html>