<!--alert提示框-->

<div class="modal fade" tabindex="-1" id="dialog-success">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </span>
                <h4 class="modal-title"></h4>
            </div>

            <div class="modal-body">
                <table class="text-success alert-text">
                    <tr>
                        <td>
                            <i class="fa fa-check-circle fa-5x"></i>
                        </td>
                        <td>
                            <span class="modal-texts"></span>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="modal-footer">
                <span class="btn btn-info" data-dismiss="modal"> 确 认 </span>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="dialog-error">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </span>
                <h4 class="modal-title"></h4>
            </div>

            <div class="modal-body">
                <table class="text-danger alert-text">
                    <tr>
                        <td>
                            <i class="fa fa-times-circle fa-5x"></i>
                        </td>
                        <td>
                            <span class="modal-texts"></span>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="modal-footer">
                <span class="btn btn-info" data-dismiss="modal"> 确 认 </span>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="dialog-warn">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </span>
                <h4 class="modal-title"></h4>
            </div>

            <div class="modal-body">
                <table class="text-warning alert-text">
                    <tr>
                        <td>
                            <i class="fa fa-info-circle fa-5x"></i>
                        </td>
                        <td>
                            <span class="modal-texts"></span>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="modal-footer">
                <span class="btn btn-info" data-dismiss="modal"> 确 认 </span>
            </div>
        </div>
    </div>
</div>