<div class="divide-line"></div>

<footer class="footer-center">
    <div class="container">
        <ul>
            <li>Built by <span class="text-primary"><%=app.engine%> v<%=app.version%></span></li>
            <li><i class="fa fa-ellipsis-v"></i></li>
            <li>Designed by <a href="https://github.com/Spikef/" target="_blank"><i class="fa fa-at"></i>Spikef</a></li>
            <li><i class="fa fa-ellipsis-v"></i></li>
            <li>本项目源码受<a href="https://github.com/Spikef/web-apis-cli/blob/master/LICENSE" target="_blank">MIT</a>开源协议保护</li>
            <li><i class="fa fa-ellipsis-v"></i></li>
            <li><a href="https://github.com/Spikef/web-apis-cli" target="_blank"><i class="fa fa-github"></i> GitHub仓库</a></li>
            <li><i class="fa fa-ellipsis-v"></i></li>
            <li><a href="" target="_blank"><i class="fa fa-info-circle"></i> 安装</a></li>
        </ul>
    </div>
</footer>

<% include login.html %>