<!--
    新增接口
-->

<div class="panel panel-info">
    <div class="panel-heading">新增接口</div>
    <div class="panel-body">
        <form class="form-horizontal add">
            <fieldset>
                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        <div class="left">
                            <label for="api-name">名称</label>
                        </div>
                        <div class="right">
                            <input type="text" class="form-control" id="api-name" placeholder="用于显示的名称">
                        </div>
                    </div>

                    <div class="col-sm-4 col-xs-12">
                        <div class="left">
                            <label for="api-alias">别名</label>
                        </div>
                        <div class="right">
                            <input type="text" class="form-control" id="api-alias" placeholder="用于URL地址的别名">
                        </div>
                    </div>

                    <div class="col-sm-2 col-xs-12">
                        <span class="btn btn-success" id="addNewApi">添加接口</span>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>