/*URL地址表单栏*/
.url .areaLeft {
    width: 50%;
    display: inline-block;
}
.url .areaLeft .left {
    float: left;
    width: 100px;
}
.url .areaLeft .right {
    margin-left:105px;
}
.url .form-control {
    width: 100%;
}
.url .areaRight {
    width: 49%;
    display: inline-block;
}
.url .areaRight .left {
    display: inline-block;
}
.url .areaRight .right {
    display: inline-block;
}
.url .areaRight .btn {
    margin-left: 30px;
    margin-right: 20px;
}

.url .apiLeft {
    width: 80%;
}
.url .apiRight {
    width: 19%;
}

@media all and (max-width: 992px) {
    .url .areaLeft {
        width: 100%;
    }
    .url .areaRight {
        width: 100%;
        margin-top: 10px;
    }
    .url .areaRight .btn {
        margin-left: 0;
        margin-right: 5px;
    }
}

@media all and (max-width: 400px) {
    .url .areaRight .left {
        position:absolute;
        margin-top: 30px;
    }
    .url .areaRight .right {
        position:relative;
        display: inline-block;
        margin-bottom: 40px;
    }
}

/*新增接口表单*/
.add .left {
    float: left;
    width: 50px;
    height: 34px;
}
.add .right {
    margin-left:55px;
}
.add .left label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
    display: inline-block;
}
@media all and (max-width: 992px) {
    .add .left, .add .right {
        margin-bottom: 10px;
    }
}

/*分隔线*/
.divide-line {
    width: 100%;
    background: #CCC;
    height: 1px;
    margin: 25px 0;
}

/*小标头*/
.explain-head {
    margin-bottom: 10px;
}

/*显示结果*/
.response-result {
    color: #E94B35;
    min-height: 20px;
    padding: 15px;
    background-color: #daeee4;
    border: 1px solid #b6dfca;
    border-radius: 4px;
    word-break:break-all;
    word-wrap:break-word;
}
.response-result .title {
    color: #c7254e;
    font-weight: 500;
}

/*提示框*/
.alert-text span {
    font-size: 18px;
}
.alert-text i {
    margin-right: 5px;
}

/*输入框伪装的文本*/
.form-normal {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 0;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    border: none;
}

/*表单提示文本内容*/
.form-message {
    display: inline-block;
    height: 34px;
    padding-top: 14px;
    font-size: 12px;
}
.form-btn-message {
    display: inline-block;
    font-size: 12px;
}

/*底部样式*/
.footer-center {
    padding-top: 20px;
    padding-bottom: 40px;
    color: #767676;
    text-align: center;
}

.footer-center ul{
    display: block;
    list-style-type: none;
}

.footer-center ul li{
    display: inline;
    padding: 0 2px;
}

/*登录框信息*/
#dialog-login .alert {
    margin-bottom: -10px;
}

/*API列表*/
.large-list {
    padding-left: 0;
    margin: 0;
}
.large-list-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    cursor: move;
}
.large-list-item:last-child {
    margin-bottom: 0;
}
.large-list-item .close {
    margin-left: 10px;
}
/*管理员列表*/
.admin-list {
    padding-left: 0;
    margin: 0;
}
.admin-list-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}
.admin-list-item:last-child {
    margin-bottom: 0;
}
.admin-list-item .close {
    margin-left: 10px;
}
.admin-list .default{
    font-weight: 500;
    color: #c7254e;
}
.admin-list .username{
    display: inline-block;
    width: 180px;
}
.admin-list .userrank{
    cursor: pointer;
}
/*管理员表单*/
#dialog-admin .form-group:last-child {
    margin-bottom: 0;
    margin-top: 30px;
}
#dialog-admin .btn {
    margin-right: 10px;
}
/*折叠或展开按钮*/
.expands-or-collapses {
    cursor: pointer;
}